## Dependencies

In [1]:
import pandas as pd

## Load Files

In [2]:
# Evaluation 
RFM_eval = pd.read_csv('../Resources/RFM_eval.csv')
LR_eval = pd.read_csv('../Resources/LR_eval.csv')
KNN_eval = pd.read_csv('../Resources/KNN_eval.csv')
SVM_eval = pd.read_csv('../Resources/SVM_eval.csv')

In [3]:
RFM_eval

          Unnamed: 0 RF Accuracy
0   Base Train Model      100.0%
1    Base Test Model     89.989%
2  Tuned Train Model      100.0%
3   Tuned Test Model      90.16%

In [4]:
LR_eval

          Unnamed: 0 LR Accuracy
0   Base Train Model     85.504%
1    Base Test Model     86.213%
2  Tuned Train Model     88.766%
3   Tuned Test Model     89.817%

In [5]:
KNN_eval

          Unnamed: 0 KNN(21) Accuracy
0   Base Train Model          84.856%
1    Base Test Model          82.208%
2  Tuned Train Model          83.902%
3   Tuned Test Model          82.265%

In [6]:
SVM_eval

          Unnamed: 0 SVM Accuracy
0   Base Train Model      84.551%
1    Base Test Model      84.153%
2  Tuned Train Model      87.583%
3   Tuned Test Model      87.357%

In [7]:
merged_df = RFM_eval.merge(LR_eval, on='Unnamed: 0')
merged_df = merged_df.merge(KNN_eval, on='Unnamed: 0')
merged_df = merged_df.merge(SVM_eval, on='Unnamed: 0')
merged_df = merged_df.rename(columns={
    'Unnamed: 0': '',
    'Accuracy_x': 'LR Accuracy',
    'Accuracy_y': 'RFC Accuracy'
})

merged_df = merged_df.set_index('')

In [8]:
merged_df

                  RF Accuracy LR Accuracy KNN(21) Accuracy SVM Accuracy

Base Train Model       100.0%     85.504%          84.856%      84.551%
Base Test Model       89.989%     86.213%          82.208%      84.153%
Tuned Train Model      100.0%     88.766%          83.902%      87.583%
Tuned Test Model       90.16%     89.817%          82.265%      87.357%

In [9]:
merged_df.to_csv('../Resources/all_eval.csv')